<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616996984591-ns7dgv3qp2p41nnm4a8tib2r182dmp31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616996984591-ns7dgv3qp2p41nnm4a8tib2r182dmp31</string>
	<key>API_KEY</key>
	<string>AIzaSyDHO-CtnfF9MBIhkr3W-sWbK6mfWc1SdFo</string>
	<key>GCM_SENDER_ID</key>
	<string>616996984591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>fir-getx-app-dbf4e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-getx-app-dbf4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616996984591:ios:c36086c8a1ee33adbed07a</string>
</dict>
</plist>